<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BizRulez" version="1.0.2" targetFramework="net452" />
  <package id="DevExpress.Data" version="20.1.5" targetFramework="net452" />
  <package id="DevExpress.Xpo" version="20.1.5" targetFramework="net452" />
  <package id="DXTraining.EventsDB" version="1.0.4" targetFramework="net452" />
  <package id="DXTraining.EventsDB.Populate" version="1.0.8" targetFramework="net452" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net452" />
</packages>